.AppP {
    color: black;
    background-color: aliceblue;
    text-align: center;
    width: 20%;
    
}
.container {
    text-align: initial;

}

.gg {
    text-align: center;
    color: brown!important;
}
